{% extends "loginnavbar.html" %}



{%  block content %}

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.card button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 22px;
}

</style>

<h2 style="text-align:center">Servies</h2>

<div class="card">
  <img src="/static/pestcontrol.jpeg" alt="pestcontrol" style="width:100%">
  <h1>Basic Pest Control </h1>
  <p>Pest Control spray</p>
  <p class="price"> Cost $250 </p>
  <p><a href="{{ url_for ('AppliancesService')}}"><button>Book a service </button></p></a>
  <input type="hidden" name = "servicecategorytag" value= "Pestcontrol"/>
  <input type="hidden" name = "servicetypetag" value= "basicpestcontrol"/>
</div>

<div class="card">
    <img src="/static/cockroach.png" alt="cockroach" style="width:100%">
    <h1>Pest control for cockroach</h1>
    <p>Only for cockroaches </p><!--add details about the service -->
    <p class="price"> Cost $200 </p>
    <p><a href="{{ url_for ('ElectricalService')}}"><button>Book a service </button></p></a>
    <input type="hidden" name = "servicecategorytag" value= "Pestcontrol"/>
    <input type="hidden" name = "servicetypetag" value= "cockroach"/>
</div>

<div class="card">
    <img src="/static/bedbugs.jpeg" alt="bedbugs" style="width:100%">
    <h1>Pest control for Bed Bugs</h1>
    <p>Only for Bed Bugs</p><!--add details about the service -->
    <p class="price"> Cost $500 </p>
    <p><a href="{{ url_for ('PlumbingService')}}"><button>Book a service </button></p></a>
    <input type="hidden" name = "servicecategorytag" value= "Pestcontrol"/>
    <input type="hidden" name = "servicetypetag" value= "bedbugs"/>
</div>

<div class="card">
    <img src="/static/termites.jpeg" alt="Appliances" style="width:100%">
    <h1>Pest control for Termites</h1>
    <p>Only for Termites</p><!--add details about the service -->
    <p class="price"> Cost $200 </p>
    <p><a href="{{ url_for ('HomeCleaningService')}}"><button>Book a service </button></p></a>
    <input type="hidden" name = "servicecategorytag" value= "Pestcontrol"/>
    <input type="hidden" name = "servicetypetag" value= "termites"/>
</div>

<div class="card button">
    <button type="button" onclick="window.history.back()" class="cancelbtn">Back</button>
</div>

{% endblock %}